@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Knewave&family=Lexend:wght@200;300;400;500&family=Permanent+Marker&family=Questrial&family=Secular+One&display=swap");

* {
}
body {
  background-image:linear-gradient(0deg, #00000000, #00000000), url("/images/mtn.5.png");
  background-size: 100%;
  
  font-family: Lexend;
  font-size: small;
  letter-spacing: 0.2em;
}

.header {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.navbar__menu > li {
  display: inline;
}

.navbar__menu {
  text-align: ;
  color: rgb(255, 255, 255);
  word-spacing: 150px;
  list-style: none;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 1%;
}

.navbar__menu > li a {
  text-decoration: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

hr {
  color: antiquewhite;
  padding-left: 0.1em;
  margin-top: 19%;
}

.title {
  margin-left: 4em;
  color: aliceblue;
}
label {
  color: rgb(255, 255, 255);
  margin-left: 4em;
}
select#dropDownMountains{
  margin-left: 4em;
  margin-bottom: 3em;
  width: 10%;
  border-radius: 7px;
}
#mtnPhoto{
  border-radius: 50%;
  margin-left: 51em;
  margin-top: -5%;
}


#locationOptions input {
  color: aliceblue;
  margin-top: 40em;
}
#parkOptions input {
  margin-left: 40;
  margin-bottom: -30%;
}

.parkContainer {
  margin-left: 20em;
  margin-bottom: 0em;
}
.locateContainer {
  margin-left: 55em;
}
#dropDownParkTypes {
  width: 10%;
  background: black;
  margin-top: -20px;
  margin-left: 5%;
  color: rgb(188, 188, 188);
}
#dropDownLocations {
  background: black;
  width: 10%;
  margin-bottom: 5%;
  margin-left: 5%;
  color: rgb(183, 183, 183);
}
.pageName {
  margin-left: 24%;
  color: rgb(237, 237, 237);
  font-family: Lexend;
  word-spacing:1em;
  letter-spacing: .5em;
  
}

th {
  margin-top: -2em;
  color: aliceblue;
  margin-bottom: -9em;
}
td{
  color:rgb(255, 255, 255);
 
}

html {
  background-image: linear-gradient(0deg, #00000086, #00000086),url("/images/mtn.5.png") ;
  background-size: 100%;
  margin-top: 35;
}

  